<div class="card bg-light mb-3">
  <div class="card-body">
    <div class="row">
      <div class="col-2">
        <input class="form-control" type="text" placeholder="name">
      </div>
      <div class="col-1 mt-2">
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
          </div>
        </div>
      </div>
      <div class="col-9">
        <div class="d-flex justify-content-end pb-2">
          <button type="button" class="btn btn-success">
            <fa-icon [icon]="faPlus" class="p-2 bd-highlight"></fa-icon>Add rule
          </button>
          <button type="button" class="btn color" id="background">
            <fa-icon [icon]="faTrashAlt" class="p-2 bd-highlight"></fa-icon>
          </button>
        </div>
        <app-rules></app-rules>
      </div>
    </div>
  </div>
</div>