<div class="col">
  <div class="card bg-light mb-3">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <span>Select a rule</span>
        <button type="button" class="btn color" id="background">
          <fa-icon [icon]="faTrashAlt"></fa-icon>
        </button>
      </div>
      <div class="row">
        <div class="col">
          <ng-select></ng-select>
        </div>
        <div class="col">
          <ng-select></ng-select>
        </div>
        <div class="col">
          <ng-select></ng-select>
        </div>
      </div>
    </div>
  </div>
</div>
