<div class="d-flex justify-content-end">
  <button type="button" class="btn btn-primary mr-2">
    <fa-icon [icon]="faSave" class="p-2 bd-highlight white"></fa-icon>
    Save
  </button>
  <button type="button" class="btn btn-success">
    <fa-icon [icon]="faPlus" class="p-2 bd-highlight"></fa-icon>Add Field
  </button>
</div>
<div class="row">
  <div class="col">
    <p class="text-center">Rules</p>
  </div>
</div>
<div class="row">
  <div class="col-2">
    <p class="text-center"> Name </p>
  </div>
  <div class="col-lg-1 pr-0">
    <p> Required </p>
  </div>
  <div class="col pl-0">
    <hr>
  </div>
</div>
<div class="row">
  <div class="col text-center">
    <p>Name</p>
  </div>
  <div class="col text-center">
    <p>Arguments</p>
  </div>
</div>